@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    padding-bottom: 60px;
}

header {
    background-color: #35424a;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}

/* .avatar {
    width: 100px; 
    height: 100px;  
    border-radius: 50%;
    margin-bottom: 10px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #35424a;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.project-section {
    border-top: 2px solid #35424a;
    padding-top: 20px;
    margin-top: 40px;
}

.project {
    margin-bottom: 20px;
}

.project a {
    margin-right: 10px;
    color: #35424a;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #35424a;
    border-radius: 5px;
}

.project a:hover {
    background-color: #35424a;
    color: #fff;
}


.footer-section {
    border-top: 2px solid #35424a;
    padding-top: 20px;
    margin-top: 40px;
}

.footer-section a {
    margin-right: 10px;
    color: #35424a;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #35424a;
    border-radius: 5px;
}

.footer-section a:hover {
    background-color: #35424a;
    color: #fff;
}

.social-icons {
    position: absolute;
    top: 20px;
    right: 20px;
}

.icon-link {
    display: inline-block;
    margin-left: 10px;
}

.icon-link img {
    width: 45px; /* Adjust the size as needed */
    height: 45px; /* Adjust the size as needed */
}